---
const { stat, description } = Astro.props;
---

<div class="key-results-card">
  
  <div class="key-results-card__stat">
    <div class="key-results-card__stat-text">{stat}</div>
  </div>
  
  <p class="key-results-card__description">{description}</p>

</div>