/*

In this file:

// A. Imports
// B. Variables
// C. Responsive Variables
// D. Base Styles
// E. Utilities
// F. Media
// G. Marquee

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@use '@natura11y/core/src/scss/breakpoint';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
  --dark: #1a1a1a;
  --canvas: #f9f9f9;

  --primary: var(--link-color);
  --primary-text: var(--background-color);

  --canvas-border: currentColor;
  --dark-border: currentColor;
  --primary-border: currentColor;

  --body-font-family: 'Inclusive Sans', sans-serif;

  --font-weight-normal: 400;

  --base-font-size: 1.125rem;
  --type-scale: 1.175;

  --body-line-height: 1.62;
  --header-line-height: 1.25;

  --banner-headline-font-weight: var(--font-weight-bold);

  --paragraph-margin-bottom: 1.5em;

  --narrow-width: 50rem;
  --medium-width: calc(var(--narrow-width) * 1.5);
  --wide-width: calc(var(--narrow-width) * 2.25);

  --nav-gap: 1.5em;

  --button-border-radius: 0;

  --grid-divider-gap: var(--border-width);

  --html-scroll-behavior: auto;
}

//////////////////////////////////////////////
// C. Responsive Variables
//////////////////////////////////////////////

@include breakpoint.breakpoint-down(md) {
  :root {
    --type-scale: 1.125;
  }
}

//////////////////////////////////////////////
// D. Base Styles
//////////////////////////////////////////////

:is(img, picture) {
  height: auto;
}

//////////////////////////////////////////////
// E. Utilities
//////////////////////////////////////////////

.list-unstyled {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.bulleted {
  --paragraph-margin-bottom: 0.5em;

  margin-inline-start: 0;
  padding-inline-start: 1.5em;

  li:has(p):not(:last-child) {
    margin-bottom: var(--paragraph-margin-bottom);
  }
}

//////////////////////////////////////////////
// F. Media
//////////////////////////////////////////////

figure img,
.project-image {
  max-width: 100%;
  width: 100%;
}

//////////////////////////////////////////////
// G. Marquee
//////////////////////////////////////////////

.marquee {
  container-name: marquee;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  position: relative;
}
