:root {
  --dark: #1a1a1a;
  --canvas: #f9f9f9;
  --primary: var(--link-color);
  --primary-text: var(--background-color);
  --canvas-border: currentColor;
  --dark-border: currentColor;
  --primary-border: currentColor;
  --body-font-family: 'Inclusive Sans', sans-serif;
  --font-weight-normal: 400;
  --base-font-size: 1.125rem;
  --type-scale: 1.175;
  --banner-headline-font-weight: var(--font-weight-bold);
  --header-line-height: 1.25;
  --nav-gap: 1.5em;
  --button-border-radius: 0;
  --body-line-height: 1.62;
  --paragraph-margin-bottom: 1.5em;
  --grid-divider-gap: var(--border-width);
  --html-scroll-behavior: auto;
  --narrow-width: 50rem;
  --medium-width: calc(var(--narrow-width) * 1.5);
  --wide-width: calc(var(--narrow-width) * 2.25);
  --backdrop-outline-gap-color: var(--background-color);
  --backdrop-shadow-outline-color: var(--link-color);
  --backdrop-shadow-outline-size: 4px;
}

@media screen and (max-width: 768px) {
  :root {
    --type-scale: 1.125;
  }
}

button[disabled] {
  --opacity: 0.375;
  opacity: var(--opacity);
  cursor: not-allowed;

  &:hover {
    opacity: var(--opacity);
    transition: none;

    [class*='__text'] {
      text-decoration: none;
    }
  }
}

hr.divider {
  margin-block: var(--spacer-5);
  max-width: calc(var(--narrow-width) - calc(var(--container-padding-x) * 2));
}

.marquee {
  display: flex;
  flex-direction: column;
  position: relative;
  container-type: inline-size;
  container-name: marquee;
}

a.backdrop {
  display: block;
  overflow: hidden;
  outline: var(--backdrop-shadow-outline-size) solid transparent;
  box-shadow: 0 0 0 0 var(--backdrop-shadow-outline-color);
  transition:
    box-shadow 0.25s ease-in-out,
    transform 0.25s ease-in-out,
    outline 0.25s ease-in-out;

  img {
    transition: transform 0.25s ease-in-out;
  }

  &:focus-visible,
  &:hover {
    outline: var(--backdrop-shadow-outline-size) solid var(--backdrop-outline-gap-color);
    box-shadow: 0 0 0 10px var(--backdrop-shadow-outline-color);
    transform: scale(1.025);

    img {
      transform: scale(2);
      transition: transform 12s ease-in-out;
    }
  }
}

.icon--rotate {
  animation: rotate360 1.75s linear infinite;
}

.list-unstyled {
  list-style: none;
  padding-inline-start: 0;
  margin-inline-start: 0;
}

.bulleted {
  --paragraph-margin-bottom: 0.5em;
  padding-inline-start: 1.5em;
  margin-inline-start: 0;

  li:has(p):not(:last-child) {
    margin-bottom: var(--paragraph-margin-bottom);
  }

  &.bulleted--columns {
    column-count: 1;
    column-gap: var(--spacer-3);

    @media screen and (min-width: 768px) {
      column-count: 2;
    }

    li {
      break-inside: avoid;
    }
  }

  &.bulleted--columns-3 {
    @media screen and (min-width: 1024px) {
      column-count: 3;
    }
  }
}

.example-tabs {
  --tab-nav-pill-active-text-color: var(--background-color);
  --tab-nav-pill-active-background-color: var(--link-color);
  font-size: var(--font-size-md);

  [class*='__button'] {
    font-weight: var(--font-weight-bold);

    &:is([class*='is-active']) {
      text-decoration: underline;
    }
  }
}

figure img,
.project-image {
  max-width: 100%;
  width: 100%;
}

:is(img, picture){
  height: auto;
}
