---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Button from '../components/Button.astro';
import ProjectListView from '../components/ProjectListView.astro';
import { getFeaturedProjects } from '../lib/projects.js';

const projects = getFeaturedProjects();
const title = 'Carl Avidano • UX Manager';
const description = 'Carl Avidano is a UX leader, researcher, and inclusive design advocate specializing in digital accessibility, design systems, and front-end development.';
---

<Layout title={title} description={description}>
  
  <Header />

  <main id="skip-header-target">
    
    <section class="margin-y-5">
      
      <header class="container wide">      
        <div class="width-80--xxl">
          <h1 class="banner-headline">
            I'm a UX leader specializing in digital accessibility and design systems
          </h1>
        </div>
      </header>

      <div class="container--md wide--md">
        <ProjectListView projects={projects} />
      </div>

      <div class="container wide margin-y-5">
        <Button href="/portfolio" utilities="theme-primary" title="Explore My Work" />
      </div>
    </section>

    <div class="container wide margin-y-5">
      <hr />
    </div>

    <section class="container wide margin-y-5">
    
      <header class="width-80">
        <h2 class="screen-reader-only">About Me</h2>
      </header>

      <ul class="grid grid--column-2--lg gap-5 margin-y-5">
        <li>
          <h3 class="h2">Who I am</h3>
          <p>
            I'm a UX leader, researcher, and inclusive design advocate with a successful track record of delivering digital products for government, nonprofits, education, healthcare, and civic technology.
          </p>
        </li>

        <li>
          <h3 class="h2">What I do</h3>
          <p>
            I help organizations understand user needs, align teams, and lead the design of inclusive digital products through research, design systems, and front-end expertise.
          </p>
        </li>
      </ul>

      <div>
        <Button href="/about" utilities="theme-primary" title="About Me" />
      </div>
    </section>
  
  </main>

</Layout>
