---
const currentYear = new Date().getFullYear();
const buttonStyle = '--button-icon-only-size: 2.5em;';
---
<footer class="container wide margin-top-5">
  
  <div class="display-flex justify-content-between align-items-center padding-y-3 border-top font-size-sm">
    
    <div class="flex-column flex-row--md gap-1">
      <span>&copy; {currentYear} - Carl Avidano.</span>
      <span>All Rights Reserved.</span>
    </div>

    <div class="display-flex gap-3">
      
      <div class="theme-picker" style={buttonStyle}>
        <button class="button button--icon-over-text" type="button" data-theme-toggle>
          <span class="button__icon border-radius-circle">
            <span class="icon icon-mode-light-dark" aria-hidden="true"></span>
          </span>
          <span class="button__text">Theme</span>
        </button>
      </div>

      <div class="back-to-top" style={buttonStyle}>
        <button class="button button--icon-over-text" type="button" aria-label="Back to Top" data-back-to-top>
          <span class="button__icon border-radius-circle">
            <span class="icon icon-arrow-up" aria-hidden="true"></span>
          </span>
          <span class="button__text">Back to Top</span>
        </button>
      </div>
    
    </div>
  
  </div>

</footer>