---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header/Header.astro';
import ProjectListView from '../../components/ProjectListView.astro';
import { getMainProjects } from '../../lib/projects.js';

const projects = getMainProjects();
const title = 'Portfolio • Carl Avidano • UX Manager';
const description = 'Explore UX research, accessibility, design systems, and front-end work for government agencies, global nonprofits, education, and civic technology.';
---
<Layout title={title} description={description}>
  <Header />

  <main id="skip-header-target">

    <section class="margin-y-5">

      <header class="container wide">
        <h1 class="banner-headline margin-bottom-3">
          Explore my work
        </h1>
        <div class="narrow">
          <p>
            I've led and collaborated on high-impact digital projects for city, state, and federal government agencies and global nonprofits.
          </p>
        </div>
      </header>

      <div class="container--md wide--md">
        <ProjectListView projects={projects} />
      </div>

    </section>

  </main>

</Layout>
